*~
.recommenders/*
target
.settings
.idea
*.iml
*.patch
.project
.classpath
.springBeans
.myeclipse
.myhibernatedata
.mymetadata
.tern-project
hibernate.reveng.xml
/.metadata
/Servers
/dcim-modeling-server/src/main/resources/META-INF/application-repository.xml
/dcim-modeling-server/src/test/resources/test-config/application-repository.xml
/dcim/dcim-common/src/test/resources/test-config/application-repository.xml
/dcim/dcim-common/src/main/resources/configure.properties
/dcim/dcim-alarm-server/src/main/resources/application-kafka-config.properties
/dcim/dcim-monitor-server/src/main/resources/application-kafka-config.properties

**/monitor-kafka-config.properties
**/alarm-kafka-config.properties
**/application-mysql.properties
**/dev/log4j.xml
/dcim/dcim-common/src/main/resources/config/dev/application.properties
/dcim/dcim-common/src/main/resources/config/test/application.properties
