.header-bar{
	background:#333333 url(img/logo-asset-jpz.png) no-repeat;
}
div.header-bar{
	border-bottom: 2px solid #FFBF00;
}

.btn, .btn:focus, .btn:hover{
	background: #FFBF00;
	color: #fff;
	border: none;
}

/*.button, .searchBar >.btn, .searchBar >.btn:focus
.searchBar >.btn:hover{
	background: #FFBF00;
	color: #fff;
	border: none;
}*/

button.close{
	background: rgba(0, 0, 0, 0);
	color: #FFBF00;
}
button.close:hover, button.close:focus{
	color: #FFBF00;
}

.form-check>.btn{
	width: 60px;
	height: 24px;
	margin: 20px 0 0 10px;
	padding-top: 0;
	line-height: 24px;
	display: inline;
	float: right;
}

.assetLine{
	border-bottom: 4px solid #FFBF00;
}



.notice {
	color: #FFBF00;
}

.left-menu-box>li>span:before{
    color: #FFBF00;
}

.left-menu-box>li.current {

}

.sub-menu-box li>span:before{
	color: #FFBF00;
}

.sub-menu-box>li>span:hover:before{
	color: #FFFFFF;
}

.sub-menu-box>li>span:hover{
	border-left: 4px solid #FFBF00;
}

.sub-menu-box>li.current{
	background: #FFBF00;
}

.sub-menu-box>li.current>span:before{
	color: #FFFFFF;
}



.sub-menu-box>li.current>span:hover{
	background: #FFBF00;
}

.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
	color: white;
}

.navbar-default .navbar-brand:hover {
    color: #FFBF00;
}
.navbar-default .navbar-brand {
    color: #FFBF00;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFBF00;
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid #FFBF00;
    background: #FFBF00;
}
.zy_grid .body tr:hover td {
    border-bottom: 1px solid #FFBF00;
}

.zy_grid a:link {
	COLOR: #FFBF00; 
	TEXT-DECORATION: none;
}

.zy_grid .body tr.selected a{
    COLOR: #fff; 
	TEXT-DECORATION: none;
}

.zy_dlg_title {
    background: #FFBF00;
}
.zy_tree .focus {
    background: rgba(255, 201, 38, 0.8);
}

.zy_grid .pageBar span.current {
    background: #FFBF00;
}
.zy_grid .pageBar span:hover {
    background: #FFBF00;
}



.tools>li>a:hover{
	background: #FFBF00;
}

@media(max-width: 1440px) {
	.header-bar {
		background: #333333 url(img/logo-asset-jpz-1440.png) no-repeat;
	}
}
