body {
    background: url("img/bg_login.jpg") no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.inputWrapper-left {
    background: rgb(43, 43, 43);
    width: 248px;
    height: 36px;
    padding: 5px 16px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.inputWrapper-right {
    background: rgb(43, 43, 43);
    width: 248px;
    height: 36px;
    padding: 5px 16px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.inputWrapper-left input, .inputWrapper-right input {
    height: 26px;
    border: 0px;
    width: 216px;
    height: 25px;
    background-color: transparent;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    text-decoration: none;
    color: #999999;
    border-color: transparent;
    outline-style: none;
}

.twill {
    background: rgba(0, 0, 0, 0.55);
}

input::-webkit-input-placeholder {
    /*margin-left: 10px;*/
    font-size: 13px;
}

/**
闪烁效果
 */
.twinkling {
    animation: twinkling 1s infinite;
    -webkit-animation: twinkling 1s infinite;
    -moz-animation: twinkling 1s infinite;
}

@keyframes twinkling {
    0% {
        opacity: 0
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes twinkling {
    0% {
        opacity: 0
    }
    50% {
        opacity: .8;
    }
    100% {
        opacity: 0;
    }
}
