/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    height: 100%;
}

body {
    background: rgba(34, 34, 34, 1);
    font-size: 16;
    font-family: "微软雅黑";
    height: 100%;
}

footer {
    height: 60px;
    margin-top: 2px;
    background: rgba(51, 51, 51, 1);
    line-height: 60px;
    color: #919191;
    font-size: 12px;
    padding-left: 26px;
}

footer > .wartermark {
    background: transparent url(img/watermark.png) no-repeat right 34px center;
    /*opacity: 0.3;*/
    margin-right: 20px;
    width: 184px;
    height: 32px;
    margin-top: 14px;
    float: right;
    font-size: 14px;
    line-height: 18px;
}

.view-surround {
    width: 100%;
    height: calc(100% - 100px);
    float: left;
}

/*
 * 导航
 */

.navbar-header {
    height: 40px;
    float: left;
}

.navbar-brand {
    height: 40px;
    padding: 0px 20px;
    line-height: 50px;
}

.navbar {
    border-radius: 0px;
    min-height: 50px;
    margin: 0px;
    background: #333333;
    border: 0px;
}

.navbar-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.navbar-default .navbar-brand:hover {
    color: #00dddd;
}

.navbar-default .navbar-brand {
    color: #00dddd;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(204, 204, 204);
    background-color: transparent;
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: rgb(255, 128, 0);
}

.navbar-default .navbar-nav > li > a:focus {
    color: rgb(204, 204, 204);
    border: 0px;
}

.navbar-right {
    float: right !important;
    padding-right: 8px;
}

.navbar-nav {
    margin: 0px;
}

.navbar-nav > li {
    height: 40px;
    float: left;
    margin-right: 10px;
}

.navbar-nav > li > a {
    padding: 15px 4px;
}

.navbar-nav > li > a > span > span {
    font-family: "microsoft yahei";
    padding-left: 5px;
}

.navbar-default .navbar-nav > li > a.disabled-icon {
    cursor: not-allowed;
    color: #BBBBBB;
}

/**
 * 高度自适应
 */
.full-height {
    height: 100%;
}

.flex-container-column {
    display: flex;
    flex-flow: column;
}

.flex-container-row {
    display: flex;
    flex-flow: row;
}

.flex-item-inColumn {
    flex: 1 1 auto;
}

.flex-item-inRow {
    flex: 1 1 auto;
}

.flex-item {
    flex: 1 1 auto;
}

/*主轴方向居中*/
.flex-center {
    justify-content: center;
}

/*垂直方向居中*/
.flex-across-center {
    align-items: center;
}

.main-left {
    flex: 0 0 240px;
    max-width: 240px;
    border-right: 1px solid rgb(81, 81, 81);
    background: rgb(51, 51, 51);
}

.main-right {
    flex: 1 1 auto;
    background: rgba(51, 51, 51, 1);
    color: rgb(153, 153, 153);
}

.right {
    float: right;
}

.left {
    float: left;
}

.dlg-content {
    height: 100%;
    padding: 20px 20px 0px 20px;
    /*padding: 19px 39px 0px 9px;*/
    /*background:rgba(51,51,51,1);
   color:rgba(153, 153, 153,1);*/
    background: #292929;
    color: #999;

}

.dlg-center {
    padding: 19px 9px 0px 9px;
}

li.noGranted {
    display: none;
}

ul.nav-tabs > li.title {
    height: 40px;
    line-height: 40px;
    margin: 0px 70px 0px 10px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: #00B285;
}

.tab-pane {
    padding-top: 10px;
}

/*button.close{
	margin-right:10px;
}*/
label.necessary {
}

label.necessary:before {
    content: "\2731";
    font-family: 'Glyphicons Halflings';
    color: red;
    font-size: 12px;
    margin-right: 6px;
}

label.error {
    color: #ff3300;
    height: 16px;
    line-height: 16px;
    margin-bottom: 0px;
    font-weight: 400;
}

.form-group {
    margin-bottom: 0px;
    min-height: 54px;

}

.form-group-little-height {
    height: 40px;
}

.modal-footer {
    /*height: 49px;*/
    /*position:fixed;
    bottom:0;
    left: 0;*/
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    text-align: right;
    border-top: 1px solid rgb(81, 81, 81);
}

.close {
    width: 22px;
    height: 22px;
    margin-top: 9px;
    margin-right: 10px;
    float: right;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 22px;
    filter: alpha(opacity=60);
    opacity: 1;
    outline: none;
    /*text-shadow: 0 1px 0 #555;*/
    /*filter: alpha(opacity=60);
    opacity: .6;*/
}

.close > i {
    color: #fff;
}

.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=60);
    opacity: 1;
    /*filter: alpha(opacity=90);
    opacity: .9;*/
}

.form-horizontal label.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-weight: 400;
}

.form-control {
    background: rgba(51, 51, 51, 1);
    border-radius: 4px;
    box-shadow: none;
    border-color: transparent;
    color: white;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: rgb(60, 60, 60);
    opacity: 1;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 8px;
    padding-left: 8px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Baseline styles
 */

.sweet-alert, .sweet-alert-loading {
    background-color: #333333 !important;
}

.loading-default {
    background: #333333;
}

.loading-default h2 {
    color: #ccc;
    margin: 0 !important;
    padding-top: 30px !important;
    font: .8em verdana !important;
    text-transform: uppercase !important;
    letter-spacing: .1em !important;
}

/*
 * Loading Dots
 * Can we use pseudo elements here instead :after?
 */
.loading-default span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background: #D90000;
    border-radius: .6em;
    animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading-default span:nth-of-type(2) {
    background: #14c5c5;
    animation-delay: 0.2s;
}

.loading-default span:nth-of-type(3) {
    background: #85B200;
    animation-delay: 0.4s;
}

.loading-default span:nth-of-type(4) {
    background: #00B285;
    animation-delay: 0.6s;
}

.loading-default span:nth-of-type(5) {
    background: #0085B2;
    animation-delay: 0.8s;
}

.loading-default span:nth-of-type(6) {
    background: #00468C;
    animation-delay: 1.0s;
}

.loading-default span:nth-of-type(7) {
    background: #8500B2;
    animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.col-nopadding {
    padding: 0;
}

.container-nopadding {
    padding: 0;
}

span.fileBox:after {
    content: "， ";
}

/**
 * 搜索框样式
 */

.twill {
    background: url(img/bg-twill.jpg) repeat;
}

.searchBar {
    height: 40px;
    background: url(img/bg.png) repeat;
    padding: 0 20px 0 20px;
    position: relative;
    overflow: hidden;
    /*line-height:41px;
    height:41px;
    padding-left:20px;
    border-bottom:1px solid rgb(81,81,81)*/
}

.searchBar input {
    line-height: 28px;
    height: 28px;
    padding: 0px 6px;
    margin-left: 6px;
    margin-top: 6px;
}

.searchBar input[type=checkbox] {
    margin-top: 10px;
}

.searchBar-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(46, 46, 46, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*.searchBar {*/
/*background: #333333;*/
/*padding: 4px 20px 4px 20px;*/
/*border-top: 1px solid rgba(68, 68, 68, 1);*/
/*}*/

.searchBar .form-group {
    min-height: auto;
    margin-right: 10px;
}

.searchBar .form-group label {
    color: white;
    font-weight: normal;
}

.searchBar select, .searchBar input {
    /*width: 140px !important;*/
    background: #434343;
}

.searchBar input[type=checkbox] {
    width: 16px !important;
}

.menu-bar {
    padding: 4px 20px 4px 20px;
    border-top: 1px solid rgba(68, 68, 68, 1);
}

.menu-bar .btn {
    background: #3F3F3F;
    min-width: 70px;
    height: 30px;
    padding: 4px;
    margin-right: 10px;
    color: white;
}

.menu-bar .btn .glyphicon:before {
    padding: 4px;
    display: inline-block;
    background: #626262;
    line-height: 12px;
    border-radius: 3px;
}

.all-searchDiv {
    position: absolute;
    left: 20px;
    right: 170px;
}

.buttonDiv {
    /*width: 150px;*/
    position: absolute;
    right: 20px;
}

select.select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

label.selectLabel {
    width: 100%;
    font-weight: 400;
    display: inline-block;
    position: relative;
}

label.selectLabel:after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 32px;
    background: #666;
    color: #999;
    font-size: 20px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 3px 3px 0;
    pointer-events: none;
}

select > option > span {
    height: 30px;
    line-height: 30px;
}

.logo {
    background: url(img/logo-noVersion.png) no-repeat left center;
    width: 518px;
    height: 89px;
}

.logo-line {
    background: url(img/logo-line.png) no-repeat left center;
    padding-left: 26px;
}

.btn-login {
    background: url(img/btn-bg.png);
}

.btn-login:hover {
    background: url(img/btn-bg-mover.png);
}

.copyright {
    height: 60px;
    background: url(img/copyright.png) no-repeat;
    /*background-size: contain;*/
    background-position: center;
    margin-top: 180px;
}

/*工单*/
.dealTime {
    height: 85px;
    margin-top: 35px;
}

.dealTime > div:nth-child(1) {
    color: rgba(22, 155, 213, 1);
    font-size: 24px;
    float: left;
    width: 23px;
    height: 40px;
    padding-top: 4px;
}

.dealTime > div:nth-child(2) {
    width: 90px;
    float: right;
    height: 40px;
    line-height: 16px;
}

.dealRecord-box {
    margin: 20px 0px 0px 0px;
    height: 100px;
}

.dealRecord {
    height: 100px;
    width: 240px;
    border: 1px solid rgba(22, 155, 213, 1);
    border-radius: 6px;

    padding: 5px 10px 5px 10px;
    color: white;
    float: left;

}

.pointLeft {
    float: left;
    width: 20px;
    margin-top: 16px;
    height: 80px;
    font-size: 28px;
    color: rgba(22, 155, 213, 1);
}

.dealRecord-title {
    border-bottom: 1px solid rgb(81, 81, 81);
    height: 24px;
}

.dealRecord-result {
    margin-top: 3px;
}

.myDealInfo {
    border-color: #14c5c5;
}

.myDealInfo > div.fa {
    color: #14c5c5;
}

.myDealInfo > div.glyphicon {
    color: #14c5c5;
}

.myDealInfo > div.dealRecord {
    border-color: #14c5c5;
}

.zy_dlg_title {
    background: #14c5c5;
}

.zy_tree .focus {
    background: #14c5c5;
    color: white;
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid #14c5c5;
    background: #14c5c5;
}

.zy_grid .body tr:hover td {
    border-bottom: 1px solid #14c5c5;
}

.zy_grid a:link {
    COLOR: #14c5c5;
    TEXT-DECORATION: none;
}

.zy_grid .body tr.selected a {
    COLOR: #fff;
    TEXT-DECORATION: none;
}

.zy_dlg_title {
    background: #14c5c5;
}

.zy_tree .focus {
    background: #14c5c5;
}

.zy_grid .pageBar span.current {
    background: #14c5c5;
}

.zy_grid .pageBar span:hover {
    background: #14c5c5;
}

/*tab 导航*/
.nav-tabs {
    border-bottom: 1px solid rgb(81, 81, 81);
}

.nav-tabs > li > a {
    color: rgb(153, 153, 153);
}

.nav > li > a:focus, .nav > li > a:hover {
    color: white;
    cursor: default;
    background-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: white;
    cursor: default;
    background-color: transparent;
    border: 1px solid rgb(81, 81, 81);
    border-bottom-color: rgb(51, 51, 51);
}

.rightFrameBox {
    padding: 0 20px 20px;
}

.btn-dialog {
    width: 80px;
    height: 29px;
    text-align: center;
    line-height: 15px;
    color: #fff;
    background: rgb(81, 81, 81);
    border: 1px solid #666;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.toolsDiv {
    background: rgb(26, 26, 26);
}

.tools {
    height: 36px;
    margin-left: 20px;
    padding: 6px 0 6px 0;
}

/*.tools>li{
	background: #fff;
  	opacity: 0.2;
}*/

.tools > li > a {
    padding: 2px;
    color: #fff;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.06);
}

.tools > li > a > span {
    font-size: 14px;
}

.tools > li > a > .glyphicon::before {
    padding: 1.78px 4px 1.78px 4px;
    border-radius: 4px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.2);
}

.navigation-body {
    background-color: #222222;
    padding: 60px;
}

.navigation-body-background {
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px black;
    min-height: 900px;
    min-width: 1600px;
    overflow: auto;
}

.navigation-title-box {
    height: 92px;
    border-bottom: #00DDDD 2px solid;
}

.navigation-title {
    width: 200px;
    font-size: 24px;
    color: #00DDDD;
    margin: 29px 0 0 25px;
}

.navigation-form-item-top {
    height: 29px;
    border-bottom: #555555 1px dashed;
    margin: 0 100px 0 100px;
}

.navigation-form-group {
    height: 75px;
    border-bottom: #555555 1px dashed;
    align-items: center;
    padding-right: 14px;
    margin: 0 100px 0 100px;
}

.navigation-form-group input {
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 36px;
    background: #444444;
    color: #999999;
    outline: none;
    padding-left: 10px;
}

.navigation-form-group select {
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 36px;
    background: #444444;
    color: #999999;
    outline: none;
    padding-left: 10px;
}

.navigation-form-group > label {
    width: 120px;
    font-size: 16px;
    color: #999999;
    margin-top: -6px;
}

.navigation-body .btn-confirm {
    height: 40px;
    width: 140px;
    font-size: 16px;
    background-color: #169bd5;
    border-radius: 5px;
    color: #ffffff;
    padding-top: 8px;
    text-align: center;
}

.navigation-body .btn-confirm-dis {
    background-color: #666;
    color: #999999;;
}

.navigation-body .footer-line {
    height: 122px;
    border-top: #555555 1px solid;
    padding-top: 41px;
    display: flex;
    flex-direction: row-reverse;
}

.equip-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    padding: 30px 0 30px 30px;
}

.equip-item-container {
    width: 210px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equip-item {
    width: 200px;
    height: 111px;
    border: #444444 1px solid;
    background-color: #2c2c2c;
    display: flex;
    flex-flow: column;
}

.equip-item:hover {
    background-color: #262626;
}

.equip-port-box {
    height: 30px;
    width: 58px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #CCCCCC;
    padding: 8px 0 0 11px;
    display: flex;
}

.equip-item-edit {
    width: 20px;
    height: 15px;
    background: url(../../../common/skins/skin3/img/equip-edit.png);
    margin: 10px 0 0 22px;
    cursor: pointer;
}

.equip-item-remove {
    width: 20px;
    height: 20px;
    margin: 9px 0 0 4px;
    font-size: 16px;
    color: #666666;
    cursor: pointer;
}

.equip-item-logo {
    width: 33px;
    background: url(../../../common/skins/skin3/img/equip-type.png) no-repeat;
    background-size: 30px 25px;
    margin: 34px 0 0 19px;
}

.equip-item-box {
    flex: 1;
    color: #CCCCCC;
    margin-left: 6px;
}

.equip-item-box-type {
    height: 22px;
    font-size: 18px;
    display: inline-block;
    overflow: hidden;
}

.equip-item-box-name {
    height: 13px;
    font-size: 12px;
}

.equip-item-sigh-box {
    background: #FFCC00;
    border-radius: 50%;
}

.equip-item-other-box {
    width: 32px;
    height: 32px;
    margin: 26px 0 0 83px;
    cursor: pointer;
}

.equip-item-sigh-icon {
    font-size: 26px;
    color: #2c2c2c;
    width: 24px;
    height: 24px;
    margin: 3px 3px;
}

.equip-item-sigh-text {
    font-size: 16px;
    color: #CCCCCC;
    padding: 13px 0 0 26px;
}

.equip-item-box-type:hover,
.equip-item-box-name:hover {
    cursor: default;
}

/*滚动条垂直方向的宽度*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 垂直滚动条的滑动块 */
::-webkit-scrollbar-thumb:vertical {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(129, 129, 129, 0.5);
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(129, 129, 129, 0.5);
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .3);
}

.searchForm {
    width: 100%;
    height: 40px;
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    line-height: 40px;
}

.searchForm .searchDiv {
    padding: 0;
    float: left;
    margin-right: 20px;
}

.searchForm .form-control {
    display: inline;
    width: 100px;
    height: 24px;
    padding: 0px 0px 0px 2px;
    margin: 0 0 0 6px;
    background: #515151;
}

.searchForm .selectLabel {
    display: inline;
    position: relative;
}

.searchForm .selectLabel:after {
    width: 22px;
    height: 22px;
    line-height: 24px;
    background: #515151;
    position: absolute;
    top: -1px;
    left: 77px;
}

.searchForm .selectLabel > .form-control {
    display: inline;
    width: 100px;
    height: 24px;
    background: #515151;
    padding: 0px 0px 0px 2px;
}

.form-container input {
    border: none;
    border-radius: 4px;
    background: #444444;
    color: #FFFFFF;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    height: 30px;
}

.form-container label {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #999999;
    text-align: right;
    margin: 0;
}

.search-pure-logo {
    height: 30px;
    width: 30px;
    background: url(../../../common/skins/skin3/img/search-logo.png) no-repeat center center;
    cursor: pointer;
}

.cp-item {
    min-height: 55px;
    cursor: pointer;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.cp-item-selected,
.cp-item:hover {
    border-left: #00DDDD 2px solid;
    background: #2d2d2d;
}

.nav-tabs {
    border-bottom: 1px solid transparent;
    font-size: 20px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #2d2d2d;
    border-top: #00DDDD 2px solid;
    border-bottom-color: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0;
    margin: 0;
}

.nav-tabs > li > a:hover {
    border-color: transparent;
}

input[type="checkbox"] {
    height: auto;
    margin-right: 6px;
}

.equip-list-item-box {
    width: 180px;
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.equip-list-box {
    flex: 1;
    overflow: auto;
    justify-content: flex-start;
}

.equip-list-item-box img {
    height: 20px;
    width: 24px;
    margin-right: 6px;
}

.equip-list-item-box span {
    width: 100px;
}

.equip-manual-icon-box {
    width: 22px;
    height: 22px;
    background: #0099FF;
    border-radius: 50%;
    margin-top: 8px;
}

.equip-manual-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c2c2c;
    margin: 1px 0 0 1px;
    color: #0099FF;
    text-align: center;
    font-size: 14px;
}

.equip-auto-icon-box {
    width: 22px;
    height: 22px;
    background: #00DDDD;
    border-radius: 50%;
    margin-top: 8px;
}

.equip-auto-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c2c2c;
    margin: 1px 0 0 1px;
    color: #00DDDD;
    text-align: center;
    font-size: 14px;
}

.equip-warn-icon {
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin: 7px 0 0 4px;
    color: #FFCC00;
}

.equip-error-icon {
    width: 22px;
    height: 22px;
    font-size: 22px;
    margin: 7px 0 0 4px;
    color: #FF0000;
}
