.videoContainer{
    position: relative;
}

.videoLayout{
    width: 100%;
    height: 100%;
    position: absolute;
}

.videoBox{
    float:left;
    border:1px solid gray;
    overflow: hidden;
}

.videoName{
    float: left;
    color: gray;
    font-size: 14px;
    line-height: 18px;
}

.videoBox-header{
    width:100%;
    height:20px;
    padding: 0 10px;
    background: #222;
}

.videoBox-header .fa{
    float: right;
    color: gray;
    font-size: 18px;
    cursor: pointer;
}

.videoIframe{
    width:100%;
    height:100%;
    /*border-width: 1px;*/
    border: none;
    overflow: hidden;
}
