.header-bar{
    url(img/ic_logo.png) 6px 6px no-repeat;
}

div.main{
	border-top: 2px solid #00B285;
}


.left-menu-box>li:before{
    color: #00B285;
}
.left-menu-box>li:hover {
    color: #00B285;
}
.left-menu-box>li.current {
    color: #00B285;
}

.sub-menu-box li:before{
	color: #00B285;
}

.sub-menu-box>li:hover,.sub-menu-box>li.current{
	background: #00B285;
	color: white;
}
.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
	color: white;
}

.navbar-default .navbar-brand:hover {
    color: #00B285;
}
.navbar-default .navbar-brand {
    color: #00B285;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #00B285;
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid #00B285;
    background: #00B285;
}
.zy_grid .body tr:hover td {
    border-bottom: 1px solid #00B285;
}

.zy_dlg_title {
    background: #00B285;
}
.zy_tree .focus {
    background: rgba(0, 178, 178, 0.8);
}

.zy_grid .pageBar span.current {
    background: #00B285;
}
.zy_grid .pageBar span:hover {
    background: #00B285;
}


