.header-bar{
	background:#333333 url(logo/logo5.png) 6px 6px no-repeat;
}
div.header-bar{
	border-bottom: 2px solid #85B200;
}
.energyLine{
	border-bottom: 4px solid #85B200;
}
.notice {
	color: #85B200;
}


.left-menu-box>li:before{
    color: #85B200;
}
.left-menu-box>li>span:nth-child(1):hover {
    color: #FFFFFF;
}
.left-menu-box>li.current {

}

.sub-menu-box li:before{
	color: #85B200;
}

.sub-menu-box>li.current{
	background: #85B200;
	color: #FFFFFF;
}

/*.sub-menu-box>li:not(selected){*/
	/*.sub-menu-box>li:hover{*/
		/*border-left: 4px solid #85B200;*/
		/*color: #FFFFFF;*/
		/*background: #444444;*/
	/*}*/
/*}*/

.sub-menu-box>li:hover{
	border-left: 4px solid #85B200;
}


.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
	color: white;
}

.navbar-default .navbar-brand:hover {
    color: #85B200;
}
.navbar-default .navbar-brand {
    color: #85B200;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #85B200;
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid #85B200;
    background: #85B200;
}
.zy_grid .body tr:hover td {
    border-bottom: 1px solid #85B200;
}

.zy_dlg_title {
    background: #85B200;
}
.zy_tree .focus {
    background: rgba(0, 178, 178, 0.8);
}

.zy_grid .pageBar span.current {
    background: #85B200;
}
.zy_grid .pageBar span:hover {
    background: #85B200;
}


@media(max-width: 1440px) {
	.header-bar {
		background: #333333 url(img/ic_logo.png) 14px 14px no-repeat;
	}
}
