.header-bar{
   /* background:#333333 url(logo/logo3.png) 1px 1px no-repeat;*/
    height: 60px;
    padding: 14px;
    background:  url(logo/logo-monitor-jpz.png) 1px no-repeat ,linear-gradient(180deg,
    rgba(7, 43, 119, 1) 0%, rgba(7, 43, 119, 1) 29%, rgba(15, 56, 148, 1) 85%, rgba(15, 56, 148, 1) 100%);
    /*background: rgba(7, 43, 119, 1) url(logo/logo-monitor-jpz.png) 1px no-repeat;*/
    line-height: 32px;
    color: #999999;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.rightFrameBox{
	padding:0px;
}

div.header-bar{
    border-bottom: 2px solid #D90000;
}

.notice {
	color: #D90000;
}

.monitorLine{
    border-bottom: 4px solid #D90000;
    cursor: pointer;

}

.left-menu-box>li>span:before {
	color: #2fe42f;
}


.left-menu-box>li.current {

}

.left-menu-box>li.alarm>span:before {
	color: #D90000;
}

.sub-menu-box-1{
	background: #4E4E4E;
}

.sub-menu-box-2{
	background: #5E5E5E;
}

.sub-menu-box li>span:before {
    content: "●";
    /*font-size: 40px;*/
}

.sub-menu-box-1 li>span:before {
	content: "├";
	color: #FF0000;
	list-style-type: none;
	padding-left: 70px;
}
.sub-menu-box-2 li>span:before {
	content: "╟";
	padding-left: 94px;
}

.sub-menu-box-2 li>span:before {
	content: "╟";
	padding-left: 94px;
}

.sub-menu-box-3 li>span:before {
    content: "╠";
    padding-left: 118px;
}

.sub-menu-box-4 li>span:before {
    content: "╬";
    padding-left: 142px;
}

.sub-menu-box li>span:before {
	color: #2fe42f;
}
.sub-menu-box>li>span:hover:before{
	color: #FFFFFF;
}

.sub-menu-box>li>span:hover{
	border-left: 4px solid #006500;
}

/*.sub-menu-box>li.current{
	background: #006500;
}*/

.sub-menu-box>li.normal{
}

.sub-menu-box>li.alarm>span:before{
	color: #FF0000;
}

.sub-menu-box>li.current{
}

.sub-menu-box>li.current>span:before{
	color: #FFFFFF;
}

/*.sub-menu-box>li.current>span:hover{
	background: #006500;
}*/

.sub-menu-box>li.current-alarm{
	background: #D90000;
}
.sub-menu-box>li.current-alarm>span:before{
	color: #FFFFFF;
}

.sub-menu-box>li.current-alarm>span:hover{
	border-left: 4px solid #D90000;
	background: #D90000;
}



.sub-menu-box>li.alarm>span:hover{
	background: #D90000;
}
.sub-menu-box>li.alarm>span:hover:before{
	color: #FFFFFF;
}
.sub-menu-box>li.alarm>span:hover{
	border-left: 4px solid #D90000;
}
.left-menu-box>li.alarm>span:hover{
	background: #D90000;
}
.left-menu-box>li.alarm>span:hover:before{
	color: #FFFFFF;
}


.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #D90000;
}
.navbar-default .navbar-brand {
    color: #D90000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #D90000;
}

.zy_grid .body tr.selected td {
    /*border-bottom: 1px solid #D90000;
    background: #D90000;*/
}
.zy_grid .body tr:hover td {
   /* border-bottom: 1px solid #D90000;*/
}

.zy_dlg_title {
    background: #D90000;
}
.zy_tree .focus {
    background: #D90000;
}

.zy_grid .pageBar span.current {
    background: #D90000;
}
.zy_grid .pageBar span:hover {
    background: #D90000;
}

ul.nav-tabs>li.title{
    color: #D90000;
}

.normal-text{
    color: white;
}
.warm-text{
    color: #D90000;
}
