html,body{
    font-family: '微软雅黑 Regular', '微软雅黑';
    background: linear-gradient(90deg, rgba(6, 3, 57, 1) 0%, rgba(6, 3, 57, 1) 0%, rgba(1, 58, 143, 1) 53%, rgba(5, 2, 54, 1) 100%, rgba(5, 2, 54, 1) 100%);
}

.dcim-widget {
    margin-bottom: 2px;
    border: 1px solid rgba(24, 114, 167, 1);
}

.dcim-widget nav.navbar{
    padding-left: 14px;
    padding-right:14px;
}

.dcim-widget nav.navbar .navbar-footer{
    float: right;
    padding-top: 6px;
    padding-bottom: 6px;
}

.dcim-widget nav.navbar .navbar-footer .select-wrapper{
    width: 260px;
    position: relative;
}

.dcim-widget nav.navbar .navbar-footer .select-wrapper::after{
    content: "\25bc";
    width: 28px;
    height: 28px;
    /*background: #686866;*/
    background: #0f2767;
    color: #9FA0A1;
    line-height: 28px;
    position: absolute;
    pointer-events: none;
    text-align: center;
    vertical-align: middle;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    top: 0;
    right: 0px;
    bottom: 0;
}

.dcim-widget nav.navbar .navbar-footer .select-wrapper select{
    width: 100%;
    padding-left: 5px;
    border-radius: 4px;
    /*background: #505050;*/
    background: #0f2767;
    color: white;
    border: none;
    height: 28px;
}

.dcim-widget .navbar-brand{
    padding: 0 0!important;
    line-height: 37px;
}

.dcim-widget .navbar-brand a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.dcim-widget .navbar-brand a:hover{
    color: rgb(255, 128, 0);
}

.dcim-widget .navbar-brand:before {
    display: block;
    float: left;
    content: '';
    width: 6px;
    height: 24px;
    margin: 8px 10px 0 0;
    background-color: rgb(255, 128, 0);
}


.navbar{
    border-radius:0px;
    min-height:40px;
    margin: 0px;
    background: rgba(16, 46, 123, 1);
    border:0px;
}
/*.dcim-widget .more-operate-wrapper a{
    height: 18px;
    width: 52px;
    display: block;
    background: #282828;
    margin-top: 11px;
    text-decoration: none;
    color: #5E5E5E;
    line-height: 18px;
    text-align: center;
    margin-bottom: 11px;
    border-radius: 4px;
    margin-right: 12px;
}*/


