
body {
    height: 100%;
    margin: 0;
    min-height: 500px;
    min-width: 1000px;
}

.section {
    width: 16.6666666666%;
    height: 100%;
    float: right;
}

.asset-container {
    padding: 10px 0;
    height: 90%;
    /*background: #333333;*/
    background: rgb(13, 37, 98);
    border-radius: 4px 4px 0 0;
    color: #99FF00;
}

.cabinetSpace {
    width: 100%;
    height: 5%;
    padding: 10px 0;
}

.orderList {
    float: left;
    height: 100%;
    width: 12%;
    box-sizing: border-box;
    padding: 0 3px;
}

.orderList > div {
    /*height: 2.5%;*/
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

.orderList > div:hover {
    background: #ffbf00;
}

.orderList > div > div {
    width: 100%;
    height: 100%;
   /* background: #434343;*/
    background: #041352;
    color: #666666;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatList {
    float: right;
    width: 86%;
    height: 100%;
    padding: 0 3px;
    /*background: #222222;*/
    background: #081b4d;
}

.lastList {
    float: right;
    width: 2%;
    height: 100%;
}

.seatList .without-asset {
    /*height: 2.5%;*/
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

.seatList .without-asset-item {
    width: 100%;
    height: 100%;
    /*background: #282828;*/
    background: #041352;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px;
}

.seatList .without-asset-item:hover {
    background: #2f2f2f;
}

.seatList .with-asset {
    height: 2.5%;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px;
}

.seatList .with-asset:hover {
    background: #ffbf00;
}

.seatList .with-asset-item {
    width: 100%;
    height: 100%;
    /*background: #434343;*/
    background: #003399;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatList .with-asset-item:hover {
    background: #0d2562;
}

.radius {
    border-radius: 4px;
}

.bottom-item {
    width: 10%;
    /*background: #333333;*/
    background: #0d2562;
    height: 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rack-name {
    width: 70%;
    display: flex;
    align-items: center;
    color: #ffbf00;
    padding-left: 6px;
    font-size: 2vh;
}

.top-item {
    /*background: #333333;*/
    background: rgb(13, 37, 98);
    height: 24px;
}

.item-left {
    float: left;
}

.item-right {
    float: right;
}

#leftClose, #rightClose {
    width: 100%;
    background: #333333;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: none;
}

.detail-title {
    height: 42px;
    margin-top: 1%;
    color: #ffbf00;
    font-size: 3vh;
    border-bottom: 3px solid #ffbf00;
}

.detail-info {
    font-size: 2vh;
    color: #ffbf00;
    flex: 1;
}

.details-container {
    flex: 1;
    /*background: #3e3e3e;*/
    background: #081b4d;
    overflow: auto;
    padding: 0 2% 2% 2%;
}

.detail-box {
    height: auto;
    margin-top: 10px;
}

.detail-item-height {
    height: 20px;
}

.detail-item-index-width {
    width: 9px;
}

.detail-item-index-top {
    height: 9px;
}

.detail-item-index-bottom {
    height: 11px;
    border-top: 2px solid #ffffff;
}

.detail-item-index-left {
    border-left: 2px solid #ffffff;
}

.detail-item-index-right {
    width: 11px;
    margin-right: 4px;
}

.detail-item-title {
    flex: 1;
    color: #FFFFFF;
}

.detail-item-title span, .detail-item-detail span {
    white-space: nowrap; /*强制span不换行*/
    display: inline-block; /*将span当做块级元素对待*/
    width: 200px; /*限制宽度*/
    overflow: hidden; /*超出宽度部分隐藏*/
    text-overflow: ellipsis; /*超出部分以点号代替*/
    line-height: 0.9; /*数字与之前的文字对齐*/
    height: 100%;
}

.detail-item-detail {
    flex: 1;
    color: #99FF00;
}

.detail-item-detail-remove {
    width: 20px;
    color: #ffbf00;
    display: flex;
    align-items: center;
}

/*滚动条垂直方向的宽度*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* 垂直滚动条的滑动块 */
::-webkit-scrollbar-thumb:vertical {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(129, 129, 129, 0.5);
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(129, 129, 129, 0.5);
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .3);
}
