.terms-body {
    min-height: 600px;
    min-width: 800px;
    background-color: #222222;
    padding: 60px;
}

.terms-body-background {
    background-color: #333333;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px black;
}

.terms-top {
    height: 51px;
    border-bottom: #00DDDD 2px solid;
}

.terms-title-box {
    height: 172px;
    border-bottom: #00DDDD 2px solid;
    background: url(../../../common/skins/skin3/img/terms-title-bg.jpg)
}

.terms-title {
    width: 120px;
    height: 40px;
    font-size: 30px;
    color: #ffffff;
    margin: 33px 0 0 349px;
}

.terms-title-logo {
    width: 375px;
    height: 60px;
    margin: 7px 0 0 95px;
}

.terms-text-body {
    flex: 1;
    padding: 28px 68px 28px 68px;
    display: flex;
}

.terms-text-box {
    background-color: #222222;
    flex: 1;
    border-radius: 8px;
    padding: 12px 25px 12px 25px;
    display: flex;
}

.terms-text {
    flex: 1;
    resize: none;
    outline: none;
    border-style: none;
    background-color: transparent;
    font-size: 16px;
    color: #999999;
    font-weight: 400;
    text-align: left;
}

.btn-confirm {
    height: 40px;
    width: 140px;
    font-size: 16px;
    background-color: #169bd5;
    border-radius: 5px;
    color: #ffffff;
    padding-top: 8px;
}

.btn-confirm-dis {
    background-color: #666;
    color: #999999;;
}

.footer-line {
    height: 122px;
    border-top: #555555 1px solid;
    padding-top: 41px;
    display: flex;
    flex-direction: row-reverse;
}
