.header-bar{
	background:#333333 url(img/logo-asset-jpz.png) no-repeat;
	
}

div.main{
	border-top: 2px solid #FFC926;
}


.left-menu-box>li:before{
    color: #FFC926;
}
.left-menu-box>li:hover {
    color: #FFC926;
}
.left-menu-box>li.current {
    color: #FFC926;
}

.sub-menu-box li:before{
	color: #FFC926;
}

.sub-menu-box>li:hover,.sub-menu-box>li.current{
	background: #FFC926;
	color: white;
}
.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
	color: white;
}

.navbar-default .navbar-brand:hover {
    color: #FFC926;
}
.navbar-default .navbar-brand {
    color: #FFC926;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFC926;
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid #FFC926;
    background: #FFC926;
}
.zy_grid .body tr:hover td {
    border-bottom: 1px solid #FFC926;
}

.zy_dlg_title {
    background: #FFC926;
}
.zy_tree .focus {
    background: rgba(255, 201, 38, 0.8);
}

.zy_grid .pageBar span.current {
    background: #FFC926;
}
.zy_grid .pageBar span:hover {
    background: #FFC926;
}


