

div.main{
	border-top: 2px solid rgba(0, 178, 178, 1);
}


.left-menu-box>li:before{
    color: rgba(0, 178, 178, 1);
}
.left-menu-box>li:hover {
    color: rgba(0, 178, 178, 1);
}
.left-menu-box>li.current {
    color: rgba(0, 178, 178, 1);
}

.sub-menu-box li:before{
	color: rgba(0, 178, 178, 1);
}

.sub-menu-box>li:hover,.sub-menu-box>li.current{
	background: rgba(0, 178, 178, 1);
	color: white;
}
.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
	color: white;
}

.navbar-default .navbar-brand:hover {
    color: rgba(0, 178, 178, 1);
}
.navbar-default .navbar-brand {
    color: rgba(0, 178, 178, 1);
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(0, 178, 178, 1);
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid rgba(0, 178, 178, 1);
    background: rgba(0, 178, 178, 1);
}
.zy_grid .body tr:hover td {
    border-bottom: 1px solid rgba(0, 178, 178, 1);
}

.zy_dlg_title {
    background: rgba(0, 178, 178, 1);
}
.zy_tree .focus {
    background: rgba(0, 178, 178, 0.8);
}

.zy_grid .pageBar span.current {
    background: rgba(0, 178, 178, 1);
}
.zy_grid .pageBar span:hover {
    background: rgba(0, 178, 178, 1);
}


