.header-bar {
	height: 60px;
	padding:14px;
	background: #333333 url(img/logo-sys-dky.png) no-repeat;
	background-position: 14px 14px;
	line-height: 32px;
	color:#999999;
	display:flex;
	flex-flow:row;
	justify-content:space-between;
}

.modules{
	background: #333333;
	min-width: 537px;
}

.modules a{
	color:#999999;
	font-size:16px;
}
.modules a:hover{
	color:#ffffff;
	text-decoration: none;
}

.modules span{
	background-position: 2px 2px;
	padding-left:20px;
	padding-right:20px;
}
.modules .rtm{
	background: url(img/module-rtm.png) no-repeat;
}
.modules .dcim{
	background: url(img/module-dcim.png) no-repeat;
}
.modules .dcom{
	background: url(img/module-dcom.png) no-repeat;
}
.modules .ema{
	background: url(img/module-ema.png) no-repeat;
}
.modules .am{
	background: url(img/module-am.png) no-repeat;
}

.modules .dcac{
    background: url(img/module-dcac.png) no-repeat;
}


.header-info {
	margin-right: 10px;
	min-width:340px;
}

.header-info div{
	width:70px;
	height:60px;
	margin-top:-14px;
	line-height:60px;
	color:white;
}

.header-info .countBox{
	text-align:center;
	cursor:pointer;
}
.header-info .countBox:hover{
	background: rgb(67,67,67);
}

#msgCount{
	background:rgba(102, 204, 0, 1);
	border-radius: 3px;
	padding:1px 2px;
	text-align:center;
}

#alarmCount{
	background:rgba(255, 0, 0, 1);
	border-radius: 3px;
	padding:1px 2px;
}
#tipCount{
	background:rgba(22, 155, 213, 1);
	border-radius: 3px;
	padding:1px 2px;
}

.header-info span.fa{
	font-size:20px;
	color:white;
}

#btnLogout{
	font-size:20px;
	line-height:28px;
	margin-left:10px;
	cursor:pointer;
}


#user{
	margin-left:20px;
	color:#999999;
	line-height: 32px;
}
#user span{
	font-size:14px;
}

.header-path{
	height:40px;
	line-height:40px;
	color: rgb(221, 221, 221);
	font-size:24px;
}
.header-path .home{
	margin-left:10px;
	line-height: 34px;
}


.header-path>.sub-system,.header-path>.module{
	font-size:14px;
}
.header-path>.sub-system:before,.header-path>.module:before{
	content: "   \f054   ";
	font: normal normal normal 14px/1 FontAwesome;
}

marquee{
	background:rgb(31,31,31);
	font-size:14px;
	height:30px;
}
