
.header-bar{
    background:#333333 url(img/logo-alarm-jpz.png) no-repeat;
    /*background-position: 14px 14px;*/
}

div.main{
    border-top: 2px solid #0085B2;
}


.left-menu-box>li:before{
    color: #0085B2;
}
.left-menu-box>li:hover {
    color: #0085B2;
}
.left-menu-box>li.current {
    color: #0085B2;
}

.sub-menu-box li:before{
    color: #0085B2;
}

.sub-menu-box>li:hover,.sub-menu-box>li.current{
    background: #0085B2;
    color: white;
}
.sub-menu-box li:hover:before,.sub-menu-box>li.current:before{
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: #0085B2;
}
.navbar-default .navbar-brand {
    color: #0085B2;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0085B2;
}

.zy_grid .body tr.selected td {
    border-bottom: 1px solid #0085B2;
    background: #0085B2;
}
.zy_grid .body tr:hover td {
    border-bottom: 1px solid #0085B2;
}

.zy_dlg_title {
    background: #0085B2;
}
.zy_tree .focus {
    background: #0085B2;
}

.zy_grid .pageBar span.current {
    background: #0085B2;
}
.zy_grid .pageBar span:hover {
    background: #0085B2;
}

ul.nav-tabs>li.title{
    color: #0085B2;
}


