body {
    background-color: #222222;
}

#mapaarea,
#mapbarea,
#mapcarea {
    display: none;
}



.mapctitle {
    width:100%;
    height: 50px;
}

.true,
.false {
    width : 50%;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.true:hover,
.false:hover {
    cursor: pointer;
}
#thisweektrue,
#thisweekfalse {
    text-decoration:none;
    height: 50px;
    line-height: 50px;
}

.true a:hover,
.false a:hover {
    text-decoration:none;
    cursor: pointer;
}

.acted {
    background-color: #0080F0;
    cursor: pointer;
}

.acted a {
    color: #FFF;
}

.acted a:hover {
    cursor: pointer;
}

table{
    background-color:#434343
}

table td{
    text-align:center;
    color:#fff;
    height:50px;
    border: #515151 solid .5px;
}

table tr td:first-child{
    background-color:#333333;
}

